<!-- Cory Lotz EngineInfo3.0 config.xml -->
<?xml version="1.0" encoding="UTF-8" ?>
<widget id        = "EngineInfo3.0"
        version   = "3.0.0">

    <name>Engine Info 3.0</name>

    <description>
       An engine info site with calculations.
    </description>

    <author>
        Cory Lotz
    </author>
	<content src = "Engine.html" />

	<gap: platform name = "android" />
	
	<icon src = "engine_diagram1.png" />
	
	<gap: splash src = "connectingRod.png" />
	
</widget>